@import url("../css/home.css");
@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/service.css");
@import url("../css/team-card.css");
@import url("../css/contact-us.css");
@import url("../css/category-card.css");
@import url("../css/blog-card.css");
@import url("../css/faq-accordion.css");
@import url("../css/our-agent.css");
@import url("../css/property-card.css");
@import url("../css/blog-view.css");
@import url("../css/loader.css");
