<footer class="foooter-section pt-12 font-body md:pt-20">
  <div
    class="footer-contact-us-wrappper p-5 py-20 flex flex-col items-center gap-4 md:py-32"
  >
    <h2
      class="font-heading text-3xl text-center text-white md:text-4xl lg:text-5xl max-w-48 md:max-w-6xl"
    >
      Contact us for advice & support
    </h2>
    <a
      class="collaborate-btn text-sm border-stone-50/[0.5] rounded-lg bg-stone-500/[0.7] py-2 border px-4 uppercase tracking-wide font-medium text-slate-300 md:py-2 md:px-5 hover:bg-zinc-950 hover:text-white transition duration-300 ease-in-out hover:border-black"
      href="./pages/contact-us.html"
    >
      Collaborate Now
    </a>
  </div>
  <div
    class="container footer-container mx-auto max-w-screen-2xl py-12 p-4 pt-16"
  >
    <div class="footer-top flex flex-col items-center gap-5">
      <div class="footer-nav-container">
        <ul
          class="footer-nav-list flex flex-wrap uppercase text-stone-600 gap-x-3 gap-y-3 justify-center"
        >
          <li class="footer-nav-item">
            <a
              href="./pages/about-us.html"
              class="footer-nav-link hover:underline"
            >
              About Us
            </a>
          </li>
          <li class="footer-nav-item">
            <a
              href="./pages/properties.html"
              class="footer-nav-link hover:underline"
            >
              Properties
            </a>
          </li>
          <li class="footer-nav-item">
            <a
              href="./pages/our-agents.html"
              class="footer-nav-link hover:underline"
            >
              Our Agents
            </a>
          </li>
          <li class="footer-nav-item">
            <a
              href="./pages/services.html"
              class="footer-nav-link hover:underline"
            >
              Services
            </a>
          </li>
          <li class="footer-nav-item">
            <a href="./pages/blog.html" class="footer-nav-link hover:underline">
              Blogs
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-social-container flex gap-2">
        <div class="footer-social-item text-sm">
          <a href="https://www.instagram.com/">
            <i class="fa-brands fa-instagram"> </i>
          </a>
        </div>
        <div class="footer-social-item text-sm">
          <a href="https://facebook.com/">
            <i class="fa-brands fa-facebook-f"> </i>
          </a>
        </div>
        <div class="footer-social-item text-sm">
          <a href="https://twitter.com/">
            <i class="fa-brands fa-x-twitter"> </i>
          </a>
        </div>
        <div class="footer-social-item text-sm">
          <a href="https://www.youtube.com/">
            <i class="fa-brands fa-youtube"> </i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt-16 flex flex-col gap-5">
      <div class="footer-newsletter-container">
        <form action="">
          <label for="newsletter" class="uppercase tracking-wide font-medium">
            Newsletter
          </label>
          <div class="newsletter-email-wrap my-3">
            <input
              type="email"
              name="newsletter"
              id="newsletter"
              placeholder="Signup for Updates"
            />
            <button type="submit">
              <i class="fa-solid fa-arrow-right"> </i>
            </button>
          </div>
        </form>
      </div>
      <div class="footer-right-container">
        <p class="text-sm text-stone-600 text-center">&copy; 2024 Roofly</p>
      </div>
    </div>
  </div>
</footer>
