<!-- Header -->
<header class="site-header absolute w-full">
  <nav
    class="main-nav mx-auto max-w-screen-2xl flex p-3 justify-between items-center 2xl:pl-0"
    aria-label="global"
  >
    <div class="site-logo p-1">
      <a
        href="./index.html"
        class="font-brand text-2xl text-slate-100 font-medium md:text-3xl"
        >Roofly</a
      >
    </div>

    <div class="nav-toggle-btn-wrap flex items-center gap-2">
      <a
        href="./pages/contact-us.html"
        class="contact-us-btn text-base border-slate-50/[.07] rounded-lg bg-slate-50/[.07] py-1 border px-3 uppercase tracking-wide font-medium text-slate-300 md:py-2 md:px-5 hover:bg-zinc-950 transition duration-300 ease-in-out"
        >Contact Us</a
      >

      <button class="open-nav-btn text-slate-100 p-1 md:p-2">
        <svg
          class="size-8"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>

    <div
      class="navbar fixed w-full h-full bg-orange-50 z-10 inset-0 p-5 py-5 flex flex-col justify-between font-brand hidden"
    >
      <div class="close-wrapper self-end">
        <button
          class="close-nav-btn uppercase text-xs tracking-widest font-light"
        >
          Close
        </button>
      </div>

      <ul class="nav-menu flex flex-col gap-5 tracking-widest text-slate-950">
        <li class="nav-item uppercase">
          <a
            href="./index.html"
            class="nav-link pb-5 block border border-x-0 border-t-0 border-slate-800 hover:border-slate-800"
            >Home
          </a>
        </li>

        <li class="nav-item uppercase">
          <a
            href="./pages/about-us.html"
            class="nav-link pb-5 block border border-x-0 border-t-0 hover:border-slate-800"
            >About us
          </a>
        </li>

        <li class="nav-item uppercase">
          <a
            href="./pages/properties.html"
            class="nav-link pb-5 block border border-x-0 border-t-0 hover:border-slate-800"
            >properties
          </a>
        </li>

        <li class="nav-item uppercase">
          <a
            href="./pages/properties-categories.html"
            class="nav-link pb-5 block border border-x-0 border-t-0 hover:border-slate-800"
            >properties Categories
          </a>
        </li>

        <li class="nav-item uppercase">
          <a
            href="./pages/services.html"
            class="nav-link pb-5 block border border-x-0 border-t-0 hover:border-slate-800"
            >Services
          </a>
        </li>

        <li class="nav-item uppercase">
          <a href="./pages/blog.html" class="nav-link pb-5 block">Blogs </a>
        </li>
      </ul>

      <div class="navbar-social-wrapper md:flex justify-between">
        <ul
          class="social-media p-2 flex items-center justify-center gap-3 text-sm"
        >
          <li class="social-item px-1 list-none">
            <a href="https://twitter.com/" class="social-links">Twitter</a>
          </li>

          <li class="social-item px-1">
            <a href="https://www.facebook.com/" class="social-links"
              >Facebook</a
            >
          </li>

          <li class="social-item px-1">
            <a href="https://www.instagram.com/" class="social-links"
              >Instagram</a
            >
          </li>
        </ul>

        <p class="copyright-text text-center p-2 text-sm">&copy; 2024 Roofly</p>
      </div>
    </div>
  </nav>
</header>
