<div class="properties-card">
  <a href="#" class="property-item-link">
    <div class="property-card-top">
      <img
        src="https://ucarecdn.com/e0331214-eeae-49e1-adb8-da7db24ba421/-/preview/1000x666/"
        alt=" A two-story home featuring red siding and white trim, showcasing a classic and inviting architectural style."
        class="property-card-img"
      />
      <span class="status-tag">For Sale</span>
    </div>
    <div class="property-card-bottom">
      <div class="property-card-data flex justify-between gap-3 py-2">
        <p class="property-name font-body text-stone-950 text-xl">
          Aspen Grove House
        </p>
        <p class="property-price text-stone-950">$1,200,000 USD</p>
      </div>
      <div class="property-location text-stone-800 text-sm">
        New Jersey, USA
      </div>
    </div>
  </a>
</div>
