<div class="testimonial-card flex flex-col gap-5">
  <div class="testimonial-header max-w-md">
    <img
      src="https://ucarecdn.com/fb533836-e641-4d21-add7-414876b11ac2/-/preview/1000x1000/"
      alt="James O’Connor"
      class="rounded-lg"
    />
  </div>
  <div
    class="testimonial-content p-5 bg-white rounded-lg flex flex-col justify-between"
  >
    <p class="client-msg text-stone-800 leading-7">
      Roofly made my first home-buying experience smooth and hassle-free. The
      team was professional, friendly, and incredibly knowledgeable!
    </p>
    <div class="client-name-wrap my-5">
      <p class="client-name font-heading text-stone-950">James O’Connor</p>
      <p class="client-location text-stone-600 text-sm">New Jersey, USA</p>
    </div>
  </div>
</div>
