.blogs-article-wrap {
  p {
    line-height: 1.75rem;
  }

  h3 {
    margin-block: 1rem;
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: "Lexend", serif;
  }

  h4 {
    margin-block: 1.2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    font-family: "Lexend", serif;
  }

  ul {
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  blockquote {
    margin-block: 30px;
    padding: 25px 10px;
    background-color: white;
    text-align: center;
    border-left: 10px solid gray;
  }
}
