.hero-section {
  background: linear-gradient(#000000a9, #000000c6),
    url("../assets/img/evelyn-paris-XJnP4L958ds-unsplash.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  background-position: 0 0, center center;
  height: 100%;
  min-height: 95dvh;
  padding-bottom: 90px;
}
